<footer class="footer">
  <div class="center-foot">
    <a href="https://www.instagram.com/marchador.estrela.negra/" target="_blank">
      <img class="profile" src="../../assets/img/insta-profile.png" alt="logo instagram">
    </a>
  </div>
  <div class="center-right">
    <div class="right-foot">
      <img src="../../assets/img/insta-title.png" alt="endereço instagram">
      <small class="TextoCopyright ff-inter">&copy;
        2023 Haras e Canil Estrela Negra. Todos os direitos reservados.
      </small>
    </div>
  </div>
</footer>
