.header-top {
  background-color: black;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: right;
  max-height: 200px;
  overflow: hidden;
}

.header-top .logo img {
  max-width: 450px;
  opacity: .88;
  margin-top: -12px;
}

.loggedIn {
  color: aliceblue;
}

@media (max-width: 576px) {
  .header-top .logo {
    padding: 2rem;
  }
  .header-top p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  .header-top .logo {
    width: 90%;
  }
}
