.header-top {
  background-color: black;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 200px;
  overflow: hidden;
}

.loggedIn{
  align-self: flex-end;
}

.breadcrumb{
  display: flex;
  align-items: center;
  margin-left: 5%;
  flex-grow: 1;
}

.breadcrumb span {
  min-width: 70px;
  font-size: small;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  background-color: var(--primary-color);
  color: aliceblue;
  padding: 5px 10px;
  border: none;
  border-radius: 4px 4px 0 0;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent-color);
}

.header-top .logo img {
  max-width: 450px;
  opacity: .88;
  margin-top: -12px;
}

.loggedIn {
  color: aliceblue;
}

@media (max-width: 576px) {
  .header-top .logo {
  }
  .header-top p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  .header-top .logo {
    width: 90%;
  }
}
